{% extends 'base.html.twig' %}
{% block title %}Liste des matchs
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('liste-matchs.css') }}">
{% endblock %}

{% block javascripts %}
	<script>
		$(function () {
$('[data-toggle="tooltip"]').tooltip()
})
	</script>
{% endblock %}

{% block body %}


	<nav class="navbar navbar-expand-lg navbar-light bg-light" style="box-shadow: 0 4px 16px 0 rgba(50,56,63,0.16);">
		<a class="navbar-brand" style="color: #41A1DB; font-family: 'Montserrat', sans-serif;">Jobeet</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="{{ path('accueil') }}">Accueil
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('profil-utilisateur') }}">Mon profil</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="{{ path('liste-entreprise') }}">Liste des entreprises
					</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="{{ path('liste-matchs') }}">Liste des matchs
						<span class="sr-only">(current)</span></a>
				</li>
				{% if not is_recruteur %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('liste-offres') }}">Liste des offres</a>
				</li>
				{% endif %}
				{% if  is_recruteur %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('mes-offres') }}">Mes offres publiées</a>
				</li>
				{% endif %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('notifications') }}">Notifications
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('liste-conversations') }}">Liste des conversations
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('recherche') }}">Recherche
					</a>
				</li>
				{% if is_recruteur %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('create') }}">Créer une annonce
						</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</nav>


	<div class="my_container">
		<h1 style="color: #41A1DB">Liste des matchs</h1>
		{% if is_recruteur == false %}
			<p class="subtitle">Retrouvez les annonces matchées</p>
		{% endif %}

		{% if is_recruteur %}
			<p class="subtitle">Retrouvez les candidats matchées</p>
		{% endif %}


		{% if is_recruteur == false %}
			<div class="row" style="margin-top: 5%">
			<h4 style="color: #41A1DB; margin-top: 3%">Mes matchs</h4>

				{% for annonce in annonces %}

					<div class="col-4">
						<div class="card">
							<div class="card-header">
								<h5 class="card-title" style="text-align:center">
									<a href="#">{{ annonce.annonce.title }}</a>
								</h5>
							</div>
							<div class="card-body">
								<p class="card-text">{{ annonce.annonce.description }}</p>
								<div class="row justify-content-between">
									<div class="col-4">
										<p>
											<b>
												<u>Match</u>
											</b>
											:
										</p>
									</div>
									{% if annonce.percent_match >= 75 and annonce.percent_match < 85 %}
										<div class="col">
											<div class="progress" data-toggle="tooltip" data-placement="bottom" title={{annonce.percent_match}}>
												<div class="progress-bar bg-alert" role="progressbar" style="width: 80%"></div>
											</div>
										</div>
									{% endif %}
									{% if annonce.percent_match >= 85 and annonce.percent_match < 95 %}
										<div class="col">
											<div class="progress" data-toggle="tooltip" data-placement="bottom" title={{annonce.percent_match}}>
												<div class="progress-bar bg-alert" role="progressbar" style="width: 90%"></div>
											</div>
										</div>
									{% endif %}
									{% if annonce.percent_match >= 95 and annonce.percent_match <= 100 %}
										<div class="col">
											<div class="progress" data-toggle="tooltip" data-placement="bottom" title={{annonce.percent_match}}>
												<div class="progress-bar bg-alert" role="progressbar" style="width: 98%"></div>
											</div>
										</div>
									{% endif %}
								</div>
							</div>
						</div>
					</div>

				{% endfor %}
				<button><a href="{{ path('liste-matchs-sort') }}">Trier par pertinence</a></button>

			</div>
		{% endif %}
	</div>
{% endblock %}
