{% extends 'base.html.twig' %}

{% block title %}Liste des conversations
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('liste-conversations.css') }}">
{% endblock %}

{% block body %}
	 <nav class="navbar navbar-expand-lg navbar-light bg-light" style="box-shadow: 0 4px 16px 0 rgba(50,56,63,0.16);">
		<a class="navbar-brand" style="color: #41A1DB; font-family: 'Montserrat', sans-serif;">Jobeet</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="{{ path('accueil') }}">Accueil
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('profil-utilisateur') }}">Mon profil</a>
				</li>
 
				<li class="nav-item active">
					<a class="nav-link" href="{{ path('liste-entreprise') }}">Liste des entreprises
						<span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('liste-matchs') }}">Liste des matchs</a>
				</li>
				{% if not is_recruteur %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('liste-offres') }}">Liste des offres</a>
				</li>
				{% endif %}
				{% if is_recruteur %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('mes-offres') }}">Mes offres publiées</a>
				</li>
				{% endif %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('notifications') }}">Notifications
					</a>
				</li>
                <li class="nav-item active">
					<a class="nav-link" href="{{ path('liste-conversations') }}">Liste des conversations
						<span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('recherche') }}">Recherche
					</a>
				</li>
				{% if is_recruteur %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('create') }}">Créer une annonce
					</a>
				</li>
				{% endif %}
			</ul>
		</div>
	</nav>
	<div class="my_container">
		<h1 style="color: #41A1DB">Liste des conversations</h1>
		<p class="subtitle">Retrouvez l'ensemble de vos conversations</p>
		{% if not conversations %}
			<p>Aucune conversation disponible</p>
		{% endif %}

		{% for conversation in conversations %}
			<div class="conversation">
				<a href="{{ path('conversation', {id : conversation.doc._id}) }}">
                    {% if id_user == conversation.doc.id_user_1 %}
                        {% for user in users.rows %}
                            {% if conversation.doc.id_user_2 == user.doc._id %}
					            <p style="margin-top: 2px; text-align:center; padding-top:28px">{{ user.doc.name }} {{ user.doc.last_name }}</p>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
					{% if id_user == conversation.doc.id_user_2 %}
                        {% for user in users.rows %}
                            {% if conversation.doc.id_user_1 == user.doc._id %}
					            <p style="margin-top: 2px;text-align:center;padding-top:28px">{{ user.doc.name }} {{ user.doc.last_name }}</p>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
				</a>
			</div>
		{% endfor %}
	</div>
{% endblock %}