{% extends 'base.html.twig' %}

{% block title %}Offre d'emploi
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('offre.css') }}">
{% endblock %}

{% block body %}
	<nav class="navbar navbar-expand-lg navbar-light bg-light" style="box-shadow: 0 4px 16px 0 rgba(50,56,63,0.16);">
		<a class="navbar-brand" style="color: #41A1DB; font-family: 'Montserrat', sans-serif;">Jobeet</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="{{ path('accueil') }}">Accueil
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('profil-utilisateur') }}">Mon profil</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="{{ path('liste-entreprise') }}">Liste des entreprises</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('liste-matchs') }}">Liste des matchs</a>
				</li>
				{% if not is_recruteur %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('liste-offres') }}">Liste des offres</a>
					</li>
				{% endif %}
				{% if is_recruteur %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('mes-offres') }}">Mes offres publiées</a>
					</li>
				{% endif %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('notifications') }}">Notifications
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('liste-conversations') }}">Liste des conversations
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('recherche') }}">Recherche
					</a>
				</li>
				{% if is_recruteur %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('create') }}">Créer une annonce
						</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</nav>
	{% for annonce in annonces.rows %}
		{% if annonce.doc._id == id %}
			<div class="my_container col-lg-12">
				<h1 style="color: #41A1DB">{{ annonce.doc.title }}</h1>
				<button>
					<a href="{{ path('postuler', {id: id}) }}">Je postule</a>
				</button>
				<div class="description">
					<h4 style="color: #41A1DB">Description</h4>
					<p>{{ annonce.doc.description }}</p>
				</div>
				<div class="description">
					<h4 style="color: #41A1DB">Compétences</h4>
					{% if not annonce.doc.competences %}
						<p>Aucune compétence nécessaire</p>
					{% endif %}
					{% for competence in annonce.doc.competences %}
						<button>{{ competence }}</button>
					{% endfor %}
				</div>
				{% if is_recruteur %}
					<button><a href="{{ path('update-annonce', {offre_id: id}) }}">Modifier</a></button>
				{% endif %}
				<div class="description">
					<h4 style="color: #41A1DB">Postulants</h4>
					{% if not annonce.doc.postulants %}
						<p>Aucune candidature recensée</p>
					{% endif %}
					{% for postulant in annonce.doc.postulants %}
						{% for user in users.rows %}
							{% if user.doc._id == postulant %}
								<div class="candidature">
									<h5>
										<a href="{{ path('profil-candidat', {id : user.doc._id}) }}">{{ user.doc.last_name }}
											{{ user.doc.name }}</a>
									</h5>
									{% if is_recruteur %}
										<button>
											<a href="{{ path('accepter', {id: postulant, offre_id: id}) }}">Accepter</a>
										</button>
										<button>
											<a href="{{ path('refuser', {id:postulant, offre_id: id}) }}">Refuser</a>
										</button>
									{% endif %}
								</div>
							{% endif %}
						{% endfor %}
					{% endfor %}
				</div>
				{% if is_recruteur %}
					<div class="description">
						<h4 style="color: #41A1DB">Matchs</h4>
						{% if not annonce.doc.matches %}
							<p>Aucun match trouvé</p>
						{% endif %}
						{% for match in annonce.doc.matches %}
							{% for user in users.rows %}
								{% if user.doc._id == match.id_user %}
									<div class="match">
										<h5>{{ user.doc.last_name }}
											{{ user.doc.name }}</h5>
										{% for invited in inviteds %}
											{% if user.doc._id == invited %}
												<button><a href="{{ path('inviter', {user_id: invited, offre_id: id}) }}">Inviter</a></button>
											{% endif %}
										{% endfor %}
									</div>
								{% endif %}
							{% endfor %}
						{% endfor %}
					</div>
				{% endif %}
				{% if is_premium %}
				<div class="description">
					<h4 style="color: #41A1DB">Mon classement</h4>
					<p><b>Position dans le classement:</b> {{ classement }}</p>
					<p><b>Pourcentage de match:</b> {{ percent_match }}</p>
				</div>
				{% endif %}
			</div>
		{% endif %}
	{% endfor %}
{% endblock %}
