{% extends 'base.html.twig' %}

{% block title %}Offre d'emploi
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('offre.css') }}">
{% endblock %}

{% block body %}
	{% for annonce in annonces.rows %}
		{% if annonce.doc._id == id %}
			<div class="my_container col-lg-12">
				<h1 style="color: #41A1DB">{{ annonce.doc.title }}</h1>
				<div class="description">
					<h4 style="color: #41A1DB">Description</h4>
					<p>{{ annonce.doc.description }}</p>
					<button>Modifier</button>
				</div>
				<div class="description">
					<h4 style="color: #41A1DB">Compétences</h4>
					{% if not annonce.doc.competences %}
						<p>Aucune compétence nécessaire</p>
					{% endif %}
					{% for competence in annonce.doc.competences %}
						<button>{{ competence }}</button>
					{% endfor %}
				</div>
				<div class="description">
					<h4 style="color: #41A1DB">Postulants</h4>
					{% if not annonce.doc.postulants %}
						<p>Aucune candidature recensée</p>
					{% endif %}
					{% for postulant in annonce.doc.postulants %}
						{% for user in users.rows %}
							{% if user.doc._id == postulant %}
								<div class="candidature">
									<h5><a href="{{ path('profil-candidat', {id : user.doc._id}) }}">{{ user.doc.last_name }} {{ user.doc.name }}</a></h5>
									<button>Accepter</button>
									<button>Refuser</button>
								</div>
							{% endif %}
						{% endfor %}
					{% endfor %}
				</div>
				<div class="matchs">
					<h4 style="color: #41A1DB">Matchs</h4>
					{% if not annonce.doc.matches %}
						<p>Aucun match trouvé</p>
					{% endif %}
					{% for match in annonce.doc.matches %}
						{% for user in users.rows %}
							{% if user.doc._id == match.id_user %}
								<div class="match">
									<h5>{{ user.doc.last_name }} {{ user.doc.name }}</h5>
									<button>Inviter</button>
								</div>
							{% endif %}
						{% endfor %}
					{% endfor %}
				</div>
			</div>
		{% endif %}
	{% endfor %}
{% endblock %}
