{% extends 'base.html.twig' %}

{% block title %}Liste des entreprises
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('profil-entreprise.css') }}">
{% endblock %}
{% block body %}
	 <nav class="navbar navbar-expand-lg navbar-light bg-light" style="box-shadow: 0 4px 16px 0 rgba(50,56,63,0.16);">
		<a class="navbar-brand" style="color: #41A1DB; font-family: 'Montserrat', sans-serif;">Jobeet</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="{{ path('accueil') }}">Accueil
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('profil-utilisateur') }}">Mon profil</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="{{ path('liste-entreprise') }}">Liste des entreprises
						<span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('liste-matchs') }}">Liste des matchs</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('liste-offres') }}">Liste des offres
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('liste-candidatures') }}">Liste des candidatures</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('recherche') }}">Recherche
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('create') }}">Créer une annonce
					</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="my_container col-lg-12">
		{% for entreprise in entreprises.rows %}
			{% if entreprise.doc._id == id %}
				<h1 style="color: #41A1DB">{{ entreprise.doc.name }}</h1>
				<p>{{ entreprise.doc.description }}</p>


				{% for annonce in annonces.rows %}
					{% if annonce.doc.entreprise_id == id %}
						<div class="offer">
							<h5>{{ annonce.doc.title }}</h5>
							<p>{{ annonce.doc.description }}</p>
							<button>En savoir plus</button>
						</div>

					{% endif %}
				{% endfor %}
			{% endif %}
		{% endfor %}
	</div>
{% endblock %}
